html{
  overflow-x: hidden;
}

.formInput{
  width: 200px;
}

/* Main body of page */
body{
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

p{
  color: #000000;
}

.centered{
  text-align: center;
}

/* Page header */
.jumbotron{
  background-color: #ff4040;
  border-bottom-color: #ff4040;
  border-bottom-style: solid;
  border-radius: 0px;
  height: 100px;
  margin-top: -5px;
}

/* Header text */
.headerText{
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  margin-top: -15px;
  margin-left: 10px;
}

/* Header images */
.headerImg {
  display: block;
  margin: auto;
  max-width: 50%; 
  margin-top: -50px;
}

/* Image on top of page */
.topImg {
  border: 2px solid #ff4040;
  opacity: 0.9;
  position: relative;
}

.topImgcontent{
  position: absolute;
  bottom: 15px;
  right: 30px;
  background-image:linear-gradient(#ff4040, #f2b929);
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  border-radius: 8px;
  text-align: center;
  border: 0.5px solid #000000;
  box-shadow: 10px 10px 5px grey;
}

.loginForm{
  text-align: center;
  display: inline-block;
}

/* Navigation bar */
.navigationBar{
  margin-top: -32px;
  font-family: 'Raleway', sans-serif;
}

ul{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
}

li{
  float: left;
  border-right: 1.5px solid #ff4040;
}

ul li{
  list-style-type: none;
  display: inline-block;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-image: linear-gradient(#ff4040, #f2b929);
  transition: 0.3s;
}

a{
  color: #EFF9F0;
}

a:hover{
  text-decoration: none;
  color: #ffffff;
}

ul li a{
  color: #ff4040;
}

h2{
}

/* Catergory bar */
.catbar{
  color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  margin-left: 20px;
  height: auto;
  width: 80%;
  background-color: #ff40405b;
  box-shadow: 10px 10px 5px rgb(187, 187, 187);
}

.catlist{
  color: black;
}

.catexpand{
  padding: 10px;
}

.card{
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
}

/* Buttons */
.btn{
  background-color: #ff4040;
  border-color: #ff4040;
}

.btn:hover{
  background-color: #c53d3d;
  border-color: #c53d3d;
}