{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="form-group" action="/awardcertificate" method="post" enctype="multipart/form-data">
                <br>
                <h4>Award Certificate</h4>
                <br>
                <p>Recipiant email address:</p>
                
                <select name="recipiantEmail" id="recipiantEmail" class="form-control">
                    {% for customers in customers %}
                        <option value="{{customers.email}}">{{customers["email"]}}</option>
                    {% endfor %}
                </select>
                <br>
                <p>Document name:</p>
                <input type="text" name="docName" class="form-control" required>
                <br>

                <select name="company" id="recipiantEmail" class="form-control">
                    {% for companies in companies %}
                        <option value="{{companies.username}}">{{companies["username"]}}</option>
                    {% endfor %}
                </select>

                <p>Attach PDF:</p>
                <input type="file" name="PDFfile" required>
                <br><br>
                <button class="btn btn-default" type="submit">Submit</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
    
</div>

{% endblock %}