<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Prototype</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/master.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/js/functions.js" type="text/javascript">
    </script>
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-4 col-sm-2">
          <a href="https://www.adentraining.co.uk/">
            <h3 class="headerText">Aden Training</h3>
          </a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 col-sm-2">
          <a href="https://www.adentraining.co.uk/">
            <img src="{{url_for('static', filename = 'img/adenFlame_white.png')}}" class="headerImg">
          </a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4 col-sm-2">
          <div class="loginText">
            {% if session['user'] %}
            <p>Welcome {{session['user']}}</p>
            <a href="/logout">Logout</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="topnav" id="myTopnav">
        <a href="#home" class="active">My Account</a>
        <a href="/findcourse">Find a course</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a href="javascript:void(0);" class="icon" onclick="navbarChange()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    {% block content %}

    {% endblock %}
  </body>
</html>
