{% extends "base.html" %}
{% block content %}
<br>
<br>
<div class="row">
    <div class="container centered">
        <div class="adminLogin">
            <h2>Welcome</h2>
            <p>Change your password</p>
            <br>
            <form action="/changepassword" method="post">
                <input class="form-control formInput" type="password" name="newpass" id="">
                <br>
                <button type="submit" name="button" class="btn btn-default">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}