{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12" id="container">
        <img src="{{url_for('static', filename = 'img/banner_customerHome.png')}}" class="topImg" style="width:100%;height:auto;">
        <div class="topImgcontent">
            <div class="text" id="topImgcontent">MY ACCOUNT</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="helloCustomer">
        <h3>Hi {{customers["username"]}}!</h3>
        <h4> <a href="/changepassword">Change password</a> </h4>
        <h4> <a href="/forgotpassword">Forgot password</a></h4>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="certificateNote">
            <h4>Welcome to your profile</h4>
            <h4>---</h4>
            <h5>Username: {{session['user']}} </h5>
            <h5>Email: {{customers["email"]}} </h5>
            <h5>Company: {{customers["organisation"]}}</h5>
            <h5>Enrolled courses: {{customers[""]}} </h5>

            {% for courses in courses %}
            <h5>{{courses["course_name"]}}</h5>
            {% endfor %}
            
        </div>
    </div>
    <div class="col-md-8">
        <div class="certificateDisplay">
            {% if certificates %}
            <h4>All of your certificates appear here</h4>
            <p> -- YOU HAVE CERTIFICATES -- </p>
            {% endif %}
            {% for certificate in certificates %}
            <form action="/downloadcertificate/{{certificate["certificate"]}}.pdf" method="POST">
            <button type="submit" name="button" class="btn btn-default">{{certificate["certificate"]}}</button>
            </form>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}