{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12" id="container">
        <img src="{{url_for('static', filename = 'img/banner_findCourse.png')}}" class="topImg" style="width:100%;height:auto;">
        <div class="topImgcontent">
            <div class="text" id="topImgcontent">FIND A COURSE</div>
        </div>
    </div>
</div>
<div class="coursefinder">
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="catbar">
                <h3>Categories</h3>
                <br>
                <nav class="catergoryNav">
                    <ul class="catMenu">
                        <li><a href="/SafetyTraining">Safety Training <i class="dropDownArrow"></i></a>
                            <ul class="submenu">
                                <li><a href="/FireTraining">Fire Training</a></li>
                                <li><a href="/WorkingAtHeight">Working at Height</a></li>
                                <li><a href="ConfinedSpace">Confined Space</a></li>
                                <li><a href="/LiftingOperations">Lifting Operations</a></li>
                                <li><a href="/Environmental">Environmental</a></li>
                            </ul>
                        </li>
                        <li><a href="/ForkliftAndPlant">Forklift and Plant</a></li>
                        <li><a href="/FirstAid">First Aid</a>
                        <li><a href="/WorkshopSkills">Workshop Skills <i class="dropDownArrow"></i></a>
                            <ul class="submenu">
                                <li><a href="/General" >General</a></li>
                                <li><a href="/MechanicalJoint">Mechanical Joint Integrity (MJI) and Small Bore Tubing (SBT)</a></li>
                            </ul>
                        </li>
                        <li><a href="/BespokeTraining">BESPOKE training (for businesses only)</a></li>
                        <li><a href="/Other">Other</a></li>
                    </ul>
                  </nav>
                <br>
            </div>
        </div>
        <div class="col-md-8" id="coursesTo">
            <div class="row">
                <div class="searchBar">
                    <input class="form-control formInput" name="search" onkeyup="searchCourses()" type="text" placeholder="Search for a course...">
                </div>
            </div>
            <div class="catexpand">
                <!-- <div class="catexpandHGV" id="divHGV">
                    <div class="card" style="width: 18rem;">
                        <img width="200px" height="200px" class="card-img-top" src="{{url_for('static', filename='img/forklift.jpg')}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Fork lift Training</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Book Now!</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img width="200px" height="200px" class="card-img-top" src="{{url_for('static', filename='img/lorry.jpg')}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">HGV Operation</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Book Now!</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img width="200px" height="200px" class="card-img-top" src="{{url_for('static', filename='img/crane.jpg')}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Crane</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Book Now!</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img width="200px" height="200px" class="card-img-top" src="{{url_for('static', filename='img/sawmill.jpg')}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Saw Mill Training</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Book Now!</a>
                        </div>
                    </div>
                </div> -->
                <div class="catexpandSafteyTraining" id="divSafteyTraining">
                    {% for course in course %}
                        <div class="card" style="width: 18rem;">
                            <img width="200px" height="200px" class="card-img-top" src="{{course.thumbnail}}" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Company: {{course["org"]}}</h6>
                                <h5 class="card-title">{{course["course_name"]}}</h5>
                                <p class="card-text">{{course["description"]}}</p>
                                
                                <form action="/bookcourse/{{course.course_name}}" method="POST">
                                <button type="submit" class="btn btn-primary">Book Now!</button>
                            </form>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
    <div class="mainresults">
    </div>
</div>

{% endblock %}