{% extends "base.html" %}
{% block content %}
<div class="container centered">
  <div class="loginForm">
    <h2>Welcome</h2>
    <form class="form-group" action="/logincust" method="post">
      <p>Sign in to Aden Training or <strong><a class="loginLink" href="/registercust">Create an account</a></strong></p>
      <br>
      <div class="row">
        <div class="col-md-5">
          <div class="loginPersonal">
            <input autocomplete="off" class="form-control formInput" type="text" name="username" value="" placeholder="Username">
            <br>
            <input autocomplete="off" class="form-control formInput" type="password" name="password" value="" placeholder="Password">
            <br>
            <button type="submit" name="button" class="btn btn-default">Sign in</button>
          </div>
        </div>
        <div class="col-md-2">
          <div class="loginVertLine"></div>
          <div class="loginHorLine"></div>
        </div>
        </form>
        <div class="col-md-5">
          <form action="/loginbus" method="post">
          <div class="loginBuisness">
            <input autocomplete="off" class="form-control formInput" type="text" name="username" value="" placeholder="Business name">
            <br>
            <input autocomplete="off" class="form-control formInput" type="password" name="password" value="" placeholder="Password">
            <br>
            <button type="submit" name="button" class="btn btn-default">Sign in</button>
          </div>
        </div>
      </div>
      <br>
      <br>
      <p>Have a business? <strong> <a class="loginLink" href="/registerbus">Create a business account</a> </strong></p>
    </form>
  </div>
</div>

{% endblock %}
