{% extends "base.html" %}
{% block content %}
<div class="container centered">
  <div class="loginForm">
    <h2>Business Login</h2>
    <form class="form-group" action="/loginbus" method="post">
      <p>Sign in to Aden Training or <strong><a class="loginLink" href="/registerbus">Create a business account</a></strong></p>
      <br>
      <input autocomplete="off" class="form-control formInput" type="text" name="username" value="" placeholder="Username">
      <br>
      <input autocomplete="off" class="form-control formInput" type="password" name="password" value="" placeholder="Password">
      <br>
      <button type="submit" name="button" class="btn btn-default">Sign in</button>
      <br>
      <br>
      <p>Or <strong><a class="loginLink" href="/login">Login to a personal account</a></strong></p>
    </form>
  </div>
</div>

{% endblock %}
