{% extends "base.html" %}
{% block content %}
<div class="container">
    <form class="form-group" action="/postcourses" method="post" enctype="multipart/form-data">
        <h4>Course details</h4>
        <p>Title:</p>
        <input type="text" name="courseTitle" class="form-control formInput" required>
        <br>
        <p>Description:</p>
        <input type="text" name="courseDescription" class="form-control" required>
        <br>
        <p>Category:</p>
        <select class="form-control form-control-sm" name="courseCat" required>
            <option>Safety Training</option>
            <option>Forklift and Plan</option>
            <option>First Aid</option>
            <option>Workshop Skills</option>
            <option>BESPOKE training</option>
            <option>Other</option>
        </select>
        <br>
        <p>Submit Image</p>
        <input type="file" name="imageFile" required>
        <br>
        <br>
        <button class="btn btn-default" type="submit">submit</button>
    </form>
</div>

{% endblock %}