{% extends "base.html" %}
{% block content %}
<div class="container">
    <form class="form-group" action="/postcourses" method="post" enctype="multipart/form-data">
        <h4>Course details</h4>
        <p>Title:</p>
        <input type="text" name="courseTitle" class="form-control formInput" required>
        <br>
        <p>Description:</p>
        <input type="text" name="courseDescription" class="form-control" required>
        <br>
        <p>Category:</p>
        <select class="form-control form-control-sm" name="courseCat" id="selectCat" onchange="showSubCat()" required>
            <option>Forklift and Plant</option>
            <option value="Safety">Safety Training</option>
            <option>First Aid</option>
            <option value="Workshop">Workshop Skills</option>
            <option>BESPOKE Training</option>
            <option>Other</option>
        </select> 
        <div class="subCatTitle" id="divSubCatTitle">
            <br>
            <p>Sub-Category:</p>
        </div>
        <div class="subCatSafety" id="divSubCatSafety">
            <select class="form-control form-control-sm" name="subCourseCat">
                <option>Fire_Training</option>
                <option>Working_at_Height</option>
                <option>Confined_Space</option>
                <option>Lifting_Operations</option>
                <option>Environmental</option>
            </select>
        </div>
        <div class="subCatWorkshop" id="divSubCatWorkshop">
            <select class="form-control form-control-sm" name="subCourseCat">
                <option>General</option>
                <option>Mechanical_Joint</option>
            </select>
        </div>
        <br>
        <p>Submit Image</p>
        <input type="file" name="imageFile" required>
        <br>
        <br>
        <button class="btn btn-default" type="submit">submit</button>
    </form>
</div>

{% endblock %}