{% extends "base.html" %}
{% block content %}
<div class="container centered">
  <div class="loginForm">
    <h2>Business Register</h2>
    <form class="form-group" action="/registerbus" method="post">
      <input autocomplete="off" class="form-control formInput" type="text" name="email" value="" placeholder="Email">
      <br>
      <input autocomplete="off" class="form-control formInput" type="text" name="username" value="" placeholder="Username">
      <br>
      <input autocomplete="off" class="form-control formInput" type="password" name="password" value="" placeholder="Password">
      <br>
      <input  class="form-control formInput" autocomplete="off" type="text" name="industry" value="" placeholder="Industry">
      <br>
      <button type="submit" name="button" class="btn btn-default">Register</button>
      <br>
      <br>
      <p>Got an account? Sign in <strong><a href="/loginbus">here</a></strong> </p>
      <br>
      <p>Go back to customer page <strong><a href="/">here</a></strong></p>
    </form>
  </div>
</div>

{% endblock %}
