{% extends "base.html" %}
{% block content %}
<div class="container centered">
  <div class="loginForm">
    <h2>Create a buisness account</h2>
    <form class="form-group" action="/registerbus" method="post">
      <p>Or <strong><a class="loginLink" href="/registercust">Create a personal account</a></strong></p>
      <input autocomplete="off" class="form-control formInput" type="text" name="email" value="" placeholder="Email">
      <br>
      <input autocomplete="off" class="form-control formInput" type="text" name="username" value="" placeholder="Username">
      <br>
      <input autocomplete="off" class="form-control formInput" type="password" name="password" value="" placeholder="Password">
      <br>
      <input  class="form-control formInput" autocomplete="off" type="text" name="industry" value="" placeholder="Industry">
      <br>
      <button type="submit" name="button" class="btn btn-default">Register</button>
      <br>
      <br>
      <p>Already have an account? <strong><a class="loginLink" href="/loginbus">Sign in</a></strong> </p>
    </form>
  </div>
</div>

{% endblock %}
