{% extends "base.html" %}
{% block content %}
<div class="container centered">
  <div class="loginForm"> 
    <h2>Create an account</h2>
    <br>
    <form class="form-group" action="/registercust" method="post">
      <input autocomplete="off" class="form-control formInput" type="text" name="email" value="" placeholder="Email" required>
      <br>
      <input autocomplete="off" class="form-control formInput" type="text" name="username" value="" placeholder="Username" required>
      <br>
      <input autocomplete="off" class="form-control formInput" type="password" name="password" value="" placeholder="Password" required>
      <br>
      <button autocomplete="off" type="submit" name="button" class="btn btn-default">Register</button>
      <br>
      <br>
      <p>Already have an account? <strong><a class="loginLink" href="/logincust">Sign in</a></strong> </p>
    </form>
  </div>
</div>

{% endblock %}
