{% extends "base.html" %}
{% block content %}
<div class="container centered">
  <div class="loginForm">
    <h2>Remove an employee</h2>
    <br>
    <form class="form-group" action="/removeemployee" method="post">
        <input class="form-control formInput" required type="text" name="email" id="" placeholder="Email">
        <br>
        <input class="form-control formInput" required type="text" name="username" id="" placeholder="Username">
        <br>
        <button type="submit" name="button" class="btn btn-default">Add employee</button>
    </form>
  </div>
</div>

{% endblock %}
